@model Models.ViewModels.PostUserViewModel
@{
    ViewData["Title"] = "Create user page";
}

<h1 class="display-4">Create user</h1>
<a asp-action="Index">Back</a>

<div class="row">
    <div class="col-md-4">

        <form asp-action="Create">
            <partial name="_UserForm" for="@Model" />
        </form>
    </div>



</div>
